*.o
*.so*
src/.depend
src/tags
doc/*
linux_tests32/*
!linux_tests32/*.c
!linux_tests32/*.asm
linux_tests64/*
!linux_tests64/*.c
!linux_tests64/*.asm
freebsd_tests64/*
!freebsd_tests64/Makefile
!freebsd_tests64/*.c
!freebsd_tests64/*.asm

autom4te.cache
include/config.h
config.log
config.status
configure
